{% extends "base.html" %} {% block title %}Error 404{% endblock %} {% block main
%}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/static/images/404-error.avif"
        class="d-block mx-lg-auto img-fluid"
        alt="Wordle Image"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Oh no, something went wrong!</h1>
      <h1 class="display-5 fw-bold lh-1 mb-3">404 Error, Not Found.</h1>
    </div>
  </div>
</div>
{% endblock %}
