{% extends "base.html" %}{% block title %}Register Error{% endblock %} {% block
main %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Wordle Account Registration</h1>
      <p class="col-lg-10 fs-4">
        Create an account to keep track of your wins and losses in the game!
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form
        class="p-4 p-md-5 border rounded-3 bg-light"
        action="/register"
        method="POST"
      >
        <div class="alert alert-danger" role="alert">
          Sorry, this username already exists! - Try with another username.
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="username"
            name="username"
          />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="password"
            name="password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="floatingPasswordrepeat"
            placeholder="repeat_password"
            name="repeat_password"
          />
          <label for="floatingPassword">Repeat Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Register
        </button>
        <hr class="my-4" />
        <small class="text-muted">Already have an account?</small>
        <a href="/login">
          <button class="w-100 btn btn-lg btn-secondary" type="button">
            Sign In
          </button></a
        >
      </form>
    </div>
  </div>
</div>
{% endblock %}
